/*Overlay CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.controlPanelHeader{
    margin-top: 3%;
    margin-left: 7%;
    font-style: normal;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.controlPanelDefinitionExcerpt {
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: justify;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.breakLine {
    margin-top: 4%;
    margin-left: 7%;
    margin-right: 7%;
}

.percentileSlider{
    margin-top: 0.5%;
    margin-left: 20%;
    justify-content: right;
}

.overlaySelectors {
    margin-top: 0.5%;
    margin-left: 10%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap:0px;
    grid-row-gap: 0px;
    }
.selectorOne { 
    grid-area: 1 / 1 / 2 / 2; 
}
.selectorSecond { 
    grid-area: 1 / 2 / 2 / 3; 
}
.selectorThree { 
    grid-area: 2 / 1 / 3 / 2; 
}
.selectorFour { 
    grid-area: 2 / 2 / 3 / 3; 
}

.gradientScale {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 20px;
    margin-top: 3.5%;
    margin-left: 7%;
    margin-right: 7%;


}
.gr1 { 
    grid-area: 1 / 1 / 2 / 2;
    background: rgb(1, 152, 189); 
}
.gr2 { 
    grid-area: 1 / 2 / 2 / 3; 
    background: rgb(73, 227, 206); 
}
.gr3 {
     grid-area: 1 / 3 / 2 / 4; 
     background: rgb(216, 254, 181); 
}
.gr4 { 
    grid-area: 1 / 4 / 2 / 5; 
    background: rgb(254, 237, 177); 

}
.gr5 { 
    grid-area: 1 / 5 / 2 / 6; 
    background: rgb(254, 173, 84); 

}
.gr6 { 
    grid-area: 1 / 6 / 2 / 7; 
    background: rgb(209, 55, 78); 
  
}

.gradientMarkers{
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
}

.gradientMarkerLeft{
    float: left;
}

.gradientMarkerRight{
    float: right;
}

label {
  display: inline-block;
  width: 140px;
}

.font-size{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}